services:
  market:
    container_name: market
    image: market:latest
    restart: unless-stopped
    env_file:
      - ../backend/core/.env
    ports:
      - "8000:8000"
    volumes:
      - ../backend/core/src/media:/app/backend/core/src/media
      - ../backend/core/src/logs:/app/backend/core/src/logs
    networks:
      - main

  market-migrate:
    container_name: market-migrate
    image: market:latest
    restart: no
    env_file:
      - ../backend/core/.env
    entrypoint: python manage.py migrate
    networks:
      - main
    profiles:
      - migrate

  telegram_bot:
    container_name: telegram_bot
    image: market-bot:latest
    restart: unless-stopped
    env_file:
      - ../backend/tg_bot/.env
    entrypoint: python -m main.bot
    volumes:
      - ../backend/core/src/media:/app/backend/core/src/media
      - ../frontend/build/static/img/jpg:/app/frontend/build/static/img/jpg
    networks:
      - main

  notifier:
    container_name: notifier
    image: market-bot:latest
    restart: unless-stopped
    env_file:
      - ../backend/tg_bot/.env
    entrypoint: faststream run main:notifier:app
    networks:
      - main

networks:
  main:
    driver: bridge
