[Unit]
Description=Telegram bot notifications
After=multi-user.target

[Service]
Type=idle
User=user
Group=user
ExecStart=/bin/sh -c 'cd /home/user/market/backend/tg_bot/src && source ../.env && poetry run python3.11 main.py'
Restart=always

[Install]
WantedBy=multi-user.target
