[Unit]
Description=Telegram bot admin panel
After=multi-user.target

[Service]
Type=idle
User=user
Group=user
WorkingDirectory=/home/user/market/backend/tg_bot/src
ExecStart=poetry run python3.11 main.py
Restart=always

[Install]
WantedBy=multi-user.target
