[Unit]
Description=Rabbitmq script
After=multi-user.target

[Service]
Type=idle
User=user
Group=user
WorkingDirectory=/home/user/market/backend/tg_bot/src
ExecStart=/bin/sh -c 'source ../.env && poetry run python3.11 start_consuming.py'
Restart=always

[Install]
WantedBy=multi-user.target
