.about-us {
	margin-bottom: 50px;
	&__container {
	}

	&__body {
	}

	&__cards-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 50px 40px;
		@media (max-width: $md2) {
			grid-template-columns: repeat(2, 1fr);
			gap: 40px 30px;
		}
	}

	&__card {
	}
}
.about-us-card {
	&__image-wrapper {
		margin-bottom: 24px;
		img {
			height: 55px;
			width: 55px;
			@media (max-width: $md2) {
				height: 45px;
				width: 45px;
			}
		}
	}

	&__title {
		font-size: 28px;
		font-weight: 300;
		margin-bottom: 24px;
		@media (max-width: $md1) {
			font-size: 26px;
		}
		@media (max-width: $md2) {
			font-size: 22px;
		}
	}

	&__info {
		font-size: 18px;
		font-weight: 300;
		@media (max-width: $md2) {
			font-size: 16px;
		}
	}
}
