.delivery-price {
	margin-bottom: 50px;
	@media (max-width: $md2) {
		margin-bottom: 30px;
	}
	&__container {
		padding: 0 15px;
		text-align: center;
		@media (max-width: $md2) {
			padding: 0 10px;
		}
	}

	&__title {
	}

	&__list {
		margin: 0 auto;
		width: 100%;
		max-width: 960px;
	}

	&__item {
		display: flex;
		align-items: center;
		text-align: left;
		display: grid;
		grid-template-columns: 25% 39% 36%;
		@media (max-width: $md2) {
			grid-template-columns: 1fr 1fr 1fr;
		}
		&:nth-child(odd) {
			background-color: #f0f0f0;
		}
	}
}

.item-price {
	padding: 25px;
	min-height: 68px;
	background-color: #fff;
	gap: 30px;
	@media (max-width: $md3) {
		gap: 15px;
		text-align: center;
		padding: 20px;
		font-size: 14px;
	}
	&:first-child {
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 500;
		border-bottom: 1px solid #000;
		background-color: #f7f7f7;
		@media (max-width: $md3) {
			font-size: 14px;
		}
	}
	&:last-child {
		background-color: #000;
		color: #fff;
	}
	&__time {
	}

	&__city {
	}

	&__price {
	}
}
