{% extends 'products/base.html' %}

{% block title %} Цветы в Ростове-на-Дону {% endblock %}

{% block content %}
	<section class="creator-letter">
		<div class="creator-letter__container">
			<h3 style="font-size:30px;" class="creator-letter__title _title">КОНТАКТНАЯ ИНФОРМАЦИЯ</h3>
			<div style="text-align:center;font-size:26px;line-height: 1.5" class="creator-letter__body _letter">
				<ul class="item-footer__sub-list">
					<li class="menu__sub-item">
						<a href="https://wa.me/79185212571/" class="catalog__link">Whatsapp +7 (918) 521-25-71</a>
					</li>
					<li class="menu__sub-item">
						<a href="tel: +7 (918) 521-25-71" class="catalog__link">Телефон +7 (918) 521-25-71</a>
					</li>
					<li class="menu__sub-item">
						<a href="https://instagram.com/crocusrnd/" class="catalog__link">Инстаграм @crocusrnd</a>
					</li>
					<li class="menu__sub-item">
						<a class="catalog__link">Почта crocusrnd@mail.ru</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
{% endblock %}