.product {
	margin-bottom: 40px;
	&__container {
	}

	&__header {
	}

	&__main {
	}

	&__footer {
	}
}

.header-product {
	padding: 15px 0;
	&__link {
		color: #6c6c6c;
		font-weight: 300;
		font-size: 18px;
		position: relative;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: #ef9700;
			}
			&:hover::after {
				color: #6c6c6c;
			}
		}
		&:not(:last-child)::after {
			cursor: default;
			position: absolute;
			display: block;
			top: 6px;
			right: -24px;
			font-size: 14px;
			font-weight: 400;
			content: ">";
		}
		&:not(:last-child) {
			margin-right: 36px;
		}
	}
}
.main-product {
	display: flex;
	gap: 40px;
	@media (max-width: $md1) {
		gap: 20px;
	}
	@media (max-width: $md2) {
		flex-direction: column;
	}
	&__slider-wrapper {
		flex: 0 1 60%;
		display: flex;
		flex-direction: column;
	}
	&__image-wrapper {
		flex: 1 1 auto;
		overflow: hidden;
		position: relative;
		margin-bottom: 10px;
		@media (max-width: $md2) {
			padding-bottom: 70%;
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
	&__sliders {
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
	}
	&__slider-image-wrapper {
		flex: 0 0 9%;
		border: 2px solid #000;
		position: relative;
		padding-bottom: 9%;
		@media (max-width: $md1) {
			flex: 0 0 13%;
			padding-bottom: 13%;
		}
		@media (max-width: $md2) {
			flex: 0 0 9%;
			padding-bottom: 9%;
		}
		@media (max-width: $md3) {
			flex: 0 0 13%;
			padding-bottom: 13%;
		}
		img {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	&__content {
		flex: 0 1 40%;
	}
}

.product-content {
	&__title {
		font-size: 24px;
		color: #383838;
		text-transform: uppercase;
		font-weight: 400;
		margin-bottom: 12px;
	}

	&__article {
		color: #777;
		font-size: 14px;
		font-weight: 300;
		margin-bottom: 24px;
	}

	&__price-wrapper {
		display: flex;
		align-items: center;
		gap: 15px;
		margin-bottom: 24px;
	}

	&__price {
		color: #5a5a5a;
		font-size: 30px;
		font-weight: 500;
	}

	&__favourite-button {
		display: inline-flex;
		align-items: center;

		svg {
			transition: all 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					fill: rgb(252, 75, 75);
				}
			}
		}
	}

	&__buy-block {
		display: flex;
		align-items: center;
		margin-bottom: 32px;
		gap: 20px;
		flex-wrap: wrap;
	}

	&__add-button {
		background-color: #2ee59d;
		font-weight: 600;
		font-size: 12px;
		text-transform: uppercase;
		display: inline-flex;
		height: 45px;
		padding: 0 20px;
		align-items: center;
		border-radius: 50px;
		letter-spacing: 3px;
		color: #fff;
		box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: #383838;
				box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
				background-color: #fff;
			}
		}
	}

	&__buy-button {
		color: #fff;
		height: 45px;
		padding: 0 15px;
		letter-spacing: 3px;
		font-size: 12px;
		font-weight: 500;
		background-color: #5a5a5a;
		border-radius: 5px;
		text-transform: uppercase;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background-color: #ffffff;
				box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
				color: #000;
			}
		}
	}

	&__info {
	}
}

.product-info {
	font-size: 20px;
	&__sizes {
		font-weight: 300;
		margin-bottom: 24px;
		span {
			font-weight: 400;
			border-bottom: 1px dashed #000;
		}
	}

	&__structure {
		font-weight: 300;
		margin-bottom: 24px;
	}

	&__category-button {
		margin-bottom: 15px;
		font-size: 10px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 1px;
		background-color: #555;
		color: #fff;
		height: 24px;
		display: inline-flex;
		align-items: center;
		border-radius: 30px;
		padding: 0 10px;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background-color: #212121;
			}
		}
	}

	&__tip {
		font-weight: 300;
		a {
			color: #000;
			font-weight: 400;
			border-bottom: 1px dashed #000;
		}
	}
}
